In [27]:
data = {
    'TEST 1': {'VALUE 1': '6', 'VALUE 2': '0', 'RESULT': "error"},
    'TEST 2': {'VALUE 1': '10', 'VALUE 2': '0', 'RESULT': "error"},
    'TEST 3': {'VALUE 1': '30', 'VALUE 2': '0', 'RESULT': "error"},
    'TEST 4': {'VALUE 1': '14', 'VALUE 2': '0', 'RESULT': "error"},
    'TEST 5': {'VALUE 1': '9', 'VALUE 2': '0', 'RESULT': "error"},
}

columns = ('', 'VALUE 1', 'VALUE 2', 'RESULT')


import pandas as pd

df = pd.DataFrame(data=data).T
df.to_csv('division_error.csv')
x = pd.read_csv('division_error.csv', index_col=0)
x

        VALUE 1  VALUE 2  RESULT
TEST 1        6        0     NaN
TEST 2       10        0     NaN
TEST 3       30        0     NaN
TEST 4       14        0     NaN
TEST 5        9        0     NaN