In [5]:
data = {
    'TEST 1': {'VALUE 1': '6', 'VALUE 2': '2', 'RESULT': '3'},
    'TEST 2': {'VALUE 1': '10', 'VALUE 2': '5', 'RESULT': '2'},
    'TEST 3': {'VALUE 1': '30', 'VALUE 2': '6', 'RESULT': '5'},
    'TEST 4': {'VALUE 1': '14', 'VALUE 2': '2', 'RESULT': '7'},
    'TEST 5': {'VALUE 1': '9', 'VALUE 2': '3', 'RESULT': '3'},
}

columns = ('', 'VALUE 1', 'VALUE 2', 'RESULT')


import pandas as pd

df = pd.DataFrame(data=data).T
df.to_csv('division.csv')
x = pd.read_csv('division.csv', index_col=0)
x

        VALUE 1  VALUE 2  RESULT
TEST 1        6        2       3
TEST 2       10        5       2
TEST 3       30        6       5
TEST 4       14        2       7
TEST 5        9        3       3